@media (min-width: 992px) {
    .container {
        width: 485px!important;
    }
}
@media (min-width: 768px) {
    .container {
        width: 375px!important;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 585px!important;
        margin-left: 30px; 
    }
}

