

.content-header {
    padding: 15px .5rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-title {
    float: left;
    font-size: 1.7rem;
    font-weight: 400;
    margin: 8px;
}

.card-primary:not(.card-outline)>.card-header, .card-primary:not(.card-outline)>.card-header a {
    color: #fff;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #007bff;
}
.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}


.card-header>.card-tools {
    float: right;
    margin: 8px;
    margin-right: -.625rem;
}

.bg-gradient-primary>.card-header .btn-tool, .bg-primary>.card-header .btn-tool, .card-primary:not(.card-outline)>.card-header .btn-tool {
    color: rgba(255,255,255,.8);
}


.btn-tool {
    background-color: transparent;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
}
.btnS {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



// .fa-solid, .fas {
//     font-weight: 900;
// }

// .fa-classic, .fa-regular, .fa-solid, .far, .fas {
//     font-family: "Font Awesome 6 Free";
// }
// .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     display: var(--fa-display,inline-block);
//     font-style: normal;
//     font-variant: normal;
//     line-height: 1;
//     text-rendering: auto;
// }
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

@media (min-width: 768px) {
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.form-group {
    margin-bottom: 1rem;
}

.float-sm-right {
    float: right!important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-tool:hover i {
    color: white;
  }

  button {
    box-shadow: none!important;
  }


// thông báo 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}
button{
    padding: 10px;
}
.notificationed{
    position: fixed;
    top: 30px;
    right: 20px;
}
.toastnew{
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    border-radius: 5px;
    --color: #0abf30;
    background-image: 
        linear-gradient(
            to right, #0abf3055, #22242f 30%
        ); 
    animation: show 0.3s ease 1 forwards  
}
.toastnew i{
    color: var(--color);
    display: flex;
    width:40px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toastnew .title{
    font-size: x-large;
    font-weight: bold;
}
.toastnew span, .toastnew i{
    color: #fff;
    opacity: 0.6;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    
}
.toastnew::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 5s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 0;
    }
}
.toastnew.error{
    --color: #f24d4c;
    background-image: 
        linear-gradient(
            to right, #f24d4c55, #22242F 30%
        );
}
.toastnew.warning{
    --color: #e9bd0c;
    background-image: 
        linear-gradient(
            to right, #e9bd0c55, #22242F 30%
        );
}
.toastnew.info{
    --color: #3498db;
    background-image: 
        linear-gradient(
            to right, #3498db55, #22242F 30%
        );
}

// 


// giỏ hàng 

.quantity_selector{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100%;
    border: solid 1px #e5e5e5;
    margin-left: 43px;
}

.minus{
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.plus{
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.quantity{
    width: 100%;
    height: 40px;
}

//

// thanh search 

// .navbar-expand .navbar-nav {
//     -ms-flex-direction: row;
//     flex-direction: row;
// }
// .ml-auto, .mx-auto {
//     margin-left: auto!important;
// }
// // .navbar-nav {
// //     display: -ms-flexbox;
// //     display: flex;
// //     -ms-flex-direction: column;
// //     flex-direction: column;
// //     padding-left: 0;
// //     margin-bottom: 0;
// //     list-style: none;
// // }

// .main-header .navbar-nav .nav-item {
//     margin: 0;
// }

// .navbar-light .navbar-nav .nav-link {
//     color: rgba(0,0,0,.5);
// }
// .navbar-expand .navbar-nav .nav-link {
//     padding-right: 1rem;
//     padding-left: 1rem;
// }

// .main-header .nav-link {
//     height: 2.5rem;
//     position: relative;
// }
// .navbar-nav .nav-link {
//     padding-right: 0;
//     padding-left: 0;
// }
// .nav-link {
//     display: block;
//     padding: .5rem 1rem;
// }
// [role=button] {
//     cursor: pointer;
// }
// a {
//     color: #007bff;
//     text-decoration: none;
//     background-color: transparent;
// }

// .navbar-search-block.navbar-search-open {
//     display: -ms-flexbox;
//     display: flex;
// }

// .navbar-search-block {
//     position: absolute;
//     padding: 0 1rem;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 10;
//     display: none;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     background-color: initial;
// }

// .form-inline {
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-flow: row wrap;
//     flex-flow: row wrap;
//     -ms-flex-align: center;
//     align-items: center;
// }

// .navbar-search-block .input-groups {
//     width: 100%;
// }

// @media (min-width: 576px){
// .form-inline .custom-select, .form-inline .input-groups {
//     width: auto;
// }
// }
// .input-groups {
//     position: relative;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -ms-flex-align: stretch;
//     align-items: stretch;
//     width: 100%;
// }

// .input-group-append, .input-group-prepend {
//     display: -ms-flexbox;
//     display: flex;
// }

// .form-control-navbar+.input-group-append {
//     margin-left: 0;
// }
// .input-group-append {
//     margin-left: -1px;
// }

// .input-groups:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-groups:not(.has-validation)>.custom-select:not(:last-child), .input-groups:not(.has-validation)>.form-controls:not(:last-child) {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
// }
// .navbar-white.navbar-light .form-control-navbar, .navbar-white.navbar-light .form-control-navbar+.input-group-append>.btn-navbar {
//     background-color: #f5f5f5;
//     border-color: #e8e8e8;
//     color: rgba(52,58,64,.8);
// }
// .input-group-sm>.custom-select, .input-group-sm>.form-controls:not(textarea) {
//     height: calc(1.8125rem + 2px);
// }
// .navbar-light .btn-navbar, .navbar-light .form-control-navbar {
//     background-color: #dadfe4;
//     border-color: #ced4da;
// }
// .input-group-sm>.custom-select, .input-group-sm>.form-controls, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
//     padding: .25rem .5rem;
//     font-size: .875rem;
//     line-height: 1.5;
//     border-radius: .2rem;
// }
// .input-groups>.custom-file, .input-groups>.custom-select, .input-groups>.form-controls, .input-groups>.form-control-plaintext {
//     position: relative;
//     -ms-flex: 1 1 auto;
//     flex: 1 1 auto;
//     width: 1%;
//     min-width: 0;
//     margin-bottom: 0;
// }


// @media (min-width: 576px){
// .form-inline .form-controls {
//     display: inline-block;
//     width: auto;
//     vertical-align: middle;
// }
// }

// .btn-navbar, .form-control-navbar {
//     transition: none;
// }
// .form-control-navbar {
//     border-right-width: 0;
// }
// .form-controls {
//     display: block;
//     width: 100%;
//     height: calc(2.25rem + 2px);
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: .25rem;
//     box-shadow: inset 0 0 0 transparent;
//     transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }

///


// thanh select
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"%3e%3cpath fill="%23343a40" d="M2 0L0 2h4zm0 5L0 3h4z"/%3e%3c/svg%3e') right .75rem center/8px 10px no-repeat;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.form-controls {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select:focus {
    outline: none;
    border: 1px solid #00aeb1ee; /* Màu xanh lam */
    box-shadow:  0 0 3px #00aeb1ee; /* Hiệu ứng bóng */
  }
//

// chọn ảnh
#image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
}

.image-frame {
    width: 158px;
    height: 158px;
    border: 2px dashed #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-frame::before {
    content: '+';
    font-size: 30px;
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block; /* Ensure the + sign is displayed initially */
}

.image-frame img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    z-index: 2;
    object-fit: cover;
}

.image-frame img[src=""] {
    display: none;
}
.image-frame img:not([src=""]) {
    display: block;
}

.image-frame.has-image::before {
    display: none; /* Hide the + sign when the image is displayed */
}


.close-button {
    position: absolute;
    padding : 12px 6px;
    top: -14px; /* Adjust position from the top */
    right: -13px; /* Adjust position from the right */
    background-color: #e3e3e3; /* White background for the button */
    color: red!important; /* Red color for the 'X' */
    border: none;
    border-radius: 50%; /* Makes the button round */
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    font-size: 20px; /* Adjust font size as needed */
    text-align: center;
    line-height: 0px; /* Center the 'X' vertically */
    cursor: pointer;
    z-index: 100; /* Ensure it is on top of the image */
    box-shadow: 0 0 3px rgba(0,0,0,0.3); /* Optional shadow for better visibility */
}

.close-button:hover {
    background-color: #f8f8f8; /* Light background color on hover */
    color: darkred; /* Darker color for the 'X' on hover */
}
#add-image-frame{
    color:#f8f8f8;
}
////



// phân trang 

.page-item .page-link {
    padding: 0.5rem 0.75rem;
    color: #007bff;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
}

.page-item .page-link.a {
    border-color: white;
}

////////    


.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #80bdff;
    
    
}

.select2-container--default .select2-dropdown .select2-search__field, .select2-container--default .select2-search--inline .select2-search__field {
    border: 1px solid #ced4da;
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc!important;
    border-radius: 4px;
    padding: .46875rem .75rem!important;
    height: calc(2.25rem + 11.5px)!important;
}

.select2-search__field{
    border: 1px solid #ccc!important;
    border-radius: 4px;
    padding: .46875rem .75rem!important;
    height: calc(2.25rem + 11.5px)!important;
}
.select2-container--default .select2-selection--single:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.select2-search__field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}